@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #396AFC 0%, #2948FF 100%);
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
}

h1 {
    font-size: 5rem;
    padding: 1rem;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.hour,
.minutes,
.seconds {
    font-size: 3rem;
}

.miliSeconds {
    padding-top: 1.5rem;
    font-size: 2rem;
}

.imge {
    padding-top: 2rem;
}

.deamonFace {
    position: absolute;
    left: 5%;
    top: 40%;
    animation: deamon 1.5s ease-in-out infinite alternate-reverse;
}

.deamonFace2 {
    position: absolute;
    top: 40%;
    left: 85%;
    animation: deamon 1.5s ease-in-out infinite alternate;
}

#EyeBros {
    animation: eyebros 1s ease-in-out infinite alternate;
}

@keyframes eyebros {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}

@keyframes deamon {
    0% {
        top: 20%;
    }
    100% {
        top: 60%;
    }
}

.animation-bg div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid white;
    border-radius: 50%;
}

.animation-bg div:nth-child(1) {
    top: 12%;
    left: 42%;
    z-index: -1;
    animation: animate 10s linear infinite;
}

.animation-bg div:nth-child(2) {
    top: 70%;
    left: 50%;
    z-index: -1;
    animation: animate 7s linear infinite;
}

.animation-bg div:nth-child(3) {
    top: 17%;
    left: 6%;
    z-index: -1;
    animation: animate 9s linear infinite;
}

.animation-bg div:nth-child(4) {
    top: 20%;
    left: 60%;
    z-index: -1;
    animation: animate 7s linear infinite;
}

.animation-bg div:nth-child(5) {
    top: 67%;
    left: 10%;
    z-index: -1;
    animation: animate 6s linear infinite;
}

.animation-bg div:nth-child(6) {
    top: 80%;
    left: 70%;
    z-index: -1;
    animation: animate 14s linear infinite;
}

.animation-bg div:nth-child(7) {
    top: 30%;
    left: 50%;
    z-index: -1;
    animation: animate 12s linear infinite;
}

.animation-bg div:nth-child(8) {
    top: 35%;
    left: 80%;
    z-index: -1;
    animation: animate 10s linear infinite;
}

.animation-bg div:nth-child(9) {
    top: 85%;
    left: 20%;
    z-index: -1;
    animation: animate 7s linear infinite;
}

.animation-bg div:nth-child(10) {
    top: 85%;
    left: 85%;
    z-index: -1;
    animation: animate 8s linear infinite;
}

.animation-bg div:nth-child(11) {
    top: 40%;
    left: 25%;
    z-index: -1;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}