body {
    background-color: black;
    color: white;
    /* font-family: monospace; */
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    /* animation: type 2s steps(20, end), curser .8s infinite; */
    /* border-right: 8px solid white; */
}

.textclass {
    color: red;
}

.t1 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(20, end), curser1 .8s 4;
    border-right: 8px solid transparent;
    animation-delay: 0;
    transition: .2s;
}

.t2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(19, end), curser .8s infinite;
    border-right: 8px solid white;
    animation-fill-mode: both;
    animation-delay: 3s;
}

.t1:active {
    border-right: 8px solid transparent;
}

@keyframes type {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes curser {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}

@keyframes curser1 {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
    100% {
        border-color: transparent;
    }
}

@keyframes shade {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 100;
        opacity: 1;
    }
}

.sasaimg {
    position: absolute;
    top: 40%;
    left: 30%;
}

.nidulaimg {
    position: absolute;
    top: 40%;
    left: 60%;
}

.border {
    border: 3px white;
    border-style: dashed;
    animation: shade 1.5s steps(50, end), curser 1.5s ease infinite;
}

.b1 {
    animation-fill-mode: both;
    animation-delay: 4.5s;
}

.b2 {
    animation-fill-mode: both;
    animation-delay: 6s;
}

.sasatxtposi {
    position: absolute;
    top: 68%;
    left: 32%;
}

.sasatext {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(15, end);
    animation-fill-mode: both;
    animation-delay: 6s;
}

.nidulatxtposi {
    position: absolute;
    top: 68%;
    left: 62.5%;
}

.nidulatext {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 2s steps(15, end);
    animation-fill-mode: both;
    animation-delay: 7s;
}


/* #00fa00 */

.thumb {
    width: 165px;
    background: black;
  }
  
  .anim {
    transition: 0.5s;
    transform: translateY(100%);
  }
  

  .thumb:hover .anim{
    transform: translateY(0);
  }