@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #8263FF 0%, #6004D6 100%);
    color: #fff;
}

.container {
    position: absolute;
    top: 10%;
    left: 5%;
}

h1 {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 72px;
    line-height: 1.3;
}

.deamonFace {
    position: absolute;
    top: 50%;
    left: 20%;
}

.btnposi {
    position: absolute;
    top: 80%;
    left: 5%;
}

.btn {
    border: 3px solid #fff;
    font-size: 36px;
    font-family: 'Baloo Tamma 2', cursive;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: .8s;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    color: #6004D6;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fff;
    z-index: -1;
    transition: .8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn:hover::before {
    height: 180%;
}

#EyeBros {
    animation: eyebros 1s ease-in-out infinite alternate;
}

@keyframes eyebros {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}

.rain-deamon404 {
    position: relative;
    height: 100vh;
}

.rainw {
    position: absolute;
    border-left: 4px solid white;
    height: 100px;
    top: 10%;
    left: 80%;
    animation: rainWhitetop 1s ease-in-out infinite alternate-reverse;
}

.rainw2 {
    position: absolute;
    border-left: 4px solid white;
    height: 100px;
    top: 30%;
    left: 59%;
    animation: rainWhiteleft 1s ease-in-out infinite alternate-reverse;
}

.rainr {
    position: absolute;
    border-left: 4px solid red;
    height: 100px;
    top: 37%;
    left: 72%;
    animation: rainred 1s ease-in-out infinite alternate-reverse;
}

.rainw3 {
    position: absolute;
    border-left: 4px solid white;
    height: 100px;
    top: 70%;
    left: 90%;
    animation: rainWhiteRight 1s ease-in-out infinite alternate-reverse;
}

@keyframes rainWhitetop {
    0% {
        top: 10%;
    }
    100% {
        top: 20%;
    }
}

@keyframes rainWhiteleft {
    0% {
        top: 30%;
    }
    100% {
        top: 40%;
    }
}

@keyframes rainred {
    0% {
        top: 37%;
    }
    100% {
        top: 47%;
    }
}

@keyframes rainWhiteRight {
    0% {
        top: 70%;
    }
    100% {
        top: 80%;
    }
}

.demon404 {
    position: relative;
    width: 50%;
    height: 100vh;
    left: 36%;
    animation: deamons 1s ease infinite alternate;
}

@keyframes deamons {
    from {
        top: 3%;
    }
    to {
        top: 10%;
    }
}

.demond4 {
    /* animation-timing-function: linear;  
    animation-name: updown; */
    position: absolute;
    top: 3%;
    left: 60%;
}

.demond42 {
    transform: rotateZ(-30deg);
    position: absolute;
    top: 60%;
    left: 60%;
}

.demond0 {
    transform: rotateZ(30deg);
    position: absolute;
    top: 30%;
    left: 90%;
}