@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500&display=swap');
body {
    font-weight: bold;
    font-size: 24;
    justify-content: center;
    background-image: url('IMG/graduate.png');
    background-repeat: no-repeat;
    width: 1154;
    height: 487;
    align-items: center;
    background-position: 50% 0px;
    font-family: 'Baloo Tamma 2', cursive;
}

.mainClass {
    width: 1500px;
    margin: auto;
}

.mainSection {
    /* padding-left: 3rem; */
    /* display: flex; */
    background-color: #D9D9D9;
    color: #1B03A3;
    height: 5em;
    width: 100%;
   
}


.bodySection {
    width: 100%;
    display: flex;
    padding-left: 15%;
    
}

h1{
    font-weight: bolder;
}


/* .button1Class {
    /* position: left; */
    /* float: right;

} */ 

.headClass{
    width: 20%;
    float: left;
    padding-left: 3em;
    height: 5em;
}
.toolbar{
    width: 70%;
    float: right;
    height: 5em;
    padding-top: 2em;
    padding-right: 2em;

    /* border: 2px solid black; */
}

.button1 {
    float: right;
    position: right;
    margin-left: 3em;
    color: #1B03A3;
    border-color: #1B03A3;
    
   
}

.button1:hover {
    background-color: #1B03A3;
    color: aliceblue;
}


.button2 {
    font-family: 'Baloo Tamma 2', cursive;
    color: #0a0a0a;
   
    border-color: #050505;
    padding: 15px 32px;
    padding-right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.button2:hover {
    background-color: #050505;
    color: aliceblue;
}

ul.bottomlist {
    list-style-type: none;
    display: flex;
    padding-top: 1em;
    overflow: hidden;
    color: #1B03A3;
    background-color: #D9D9D9;
    height: 5em;
    font-size: 11px;
}

svg {
    margin-right: 1em;
    padding-top: 0em;
}

.listTxt {
    display: flex;
    margin-right: 5%;
    padding-left: 5%;
}
