@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;700&display=swap');
body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #243B55 0%, #141E30 100%);
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
}

.loader {
    padding-top: 70px;
    width: 960px;
    margin: 150px auto 70px;
    position: relative;
}

.loader .loading-img {
    position: relative;
    width: 100%;
    height: 50px;
    border: 3px solid white;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: -1;
}

.loader .loading-img:before {
    content: "";
    display: block;
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: #2948FF;
    box-shadow: 10px 0px 50px 0px #2948FF;
    filter: blur(1px);
    animation: load 10s linear infinite;
    border-radius: 50px;
}

.loader .lading-txt {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: bold;
    font-size: 64px;
    color: white;
    text-align: center;
    animation: blinking 1.5s ease-in-out infinite alternate;
}

@keyframes load {
    0% {
        width: 5%;
    }
    90% {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    opacity: 0.2;
}

.footer-items {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}